@font-face {
  font-family: OpenSans;
  src: url("../../Assets/Fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: TrajanPro;
  src: url("../../Assets/Fonts/TrajanPro/TrajanPro-Regular.ttf") format("truetype");
}
