.footer-section {
  position: relative;
  background-color: #021a4e;
}
.footer-section .footer-row {
  padding: 62px 0 98px 0;
}
@media (max-width: 1199.98px) {
  .footer-section .footer-row {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.footer-section .footer-row .v-line-divider {
  border-left: 1px solid #4d4d4d;
}
.footer-section .footer-row .footer-subtitles {
  color: #e4c800;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.93px;
  margin-bottom: 15px;
}
@media (max-width: 1199.98px) {
  .footer-section .footer-row .footer-subtitles {
    margin-right: 12px;
  }
}
.footer-section .footer-row .footer-list {
  list-style: none;
  padding-left: 0;
}
.footer-section .footer-row .footer-list > li {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.82px;
}
@media (max-width: 1199.98px) {
  .footer-section .footer-row .footer-list > li > span {
    margin: 0;
  }
}
.footer-section .footer-row .footer-list > li > a {
  color: #fff;
}
.footer-section .footer-row .footer-list > li:hover {
  color: #b6b6b6;
}
.footer-section .footer-row .footer-list > li:hover > a {
  color: #b6b6b6;
}
.footer-section .footer-row .social-media-icon {
  padding: 4px;
}
.footer-section .footer-row .social-media-icon > i {
  min-width: 1rem;
  font-size: 16px;
  text-align: center;
}
.footer-section .footer-row .social-media-icon > a {
  color: #fff;
}
.footer-section .footer-row .how-to-find-us ul > li {
  line-height: 2.6em;
  color: #fff;
}
.footer-section .footer-row .how-to-find-us ul > li > span {
  margin-right: 10px;
}
.footer-section .footer-row .how-to-find-us ul > li > span > i {
  min-width: 1rem;
}
@media (max-width: 1199.98px) {
  .footer-section .footer-row .follow-us {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-bottom: 80px;
  }
}
.footer-section .footer-row .follow-us > .follow-us-row {
  margin: 25px 0 40px 0;
}
@media (max-width: 1199.98px) {
  .footer-section .footer-row .follow-us > .follow-us-row {
    justify-content: center;
  }
}
.footer-section .footer-row .follow-us > .follow-us-row .social-media-follow-us > a {
  color: #fff;
}
.footer-section .footer-row .follow-us > .follow-us-row .social-media-follow-us > a:hover {
  color: #b6b6b6;
}
@media (max-width: 1199.98px) {
  .footer-section .footer-row .follow-us > .follow-us-row:last-child {
    margin-top: 0;
  }
}

.secondary-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #223663;
  color: #fff;
}
.secondary-footer .row > * {
  font-size: 11px;
  margin: 10px 0;
  line-height: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}
.secondary-footer .row > span {
  margin-right: 5px;
}
