html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: OpenSans;
  word-wrap: break-word;
}

section:not(.secondary-footer) {
  padding: 80px 0;
}

.overflowY {
  overflow-y: hidden;
}
