@media (max-width: 1199.98px) {
  .news-programmes-container .courses-div {
    flex-direction: column;
    display: block;
  }
}
.news-programmes-container .courses-div .col-first {
  margin-right: 29px;
}
@media (max-width: 1199.98px) {
  .news-programmes-container .courses-div .col-first {
    margin-bottom: 40px;
  }
}
.news-programmes-container .courses-div .col-first .courses-row-first {
  margin-bottom: 30px;
}
@media (max-width: 1199.98px) {
  .news-programmes-container .courses-div .col-first .courses-row-first .col {
    height: 100%;
    max-height: 100%;
  }
}
.news-programmes-container .courses-div .col-first .blurb {
  box-shadow: 10px 9px 10px #9a98985e;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .news-programmes-container .courses-div .col-first .blurb {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .news-programmes-container .courses-div .col-first .blurb a > img {
    width: 100%;
    max-width: 100%;
  }
}
.news-programmes-container .courses-div .col-first .section-news-images-title {
  background-color: rgba(2, 26, 78, 0.8);
  color: white;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-family: OpenSans;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  top: inherit;
  bottom: 0;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}
@media (max-width: 991.98px) {
  .news-programmes-container .courses-div .col-first .section-news-images-title {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .news-programmes-container .courses-div .col-first .section-news-images-title {
    font-size: 1rem;
  }
}
.news-programmes-container .courses-div .col-first .section-news-images-title .news-title {
  position: relative;
  top: 25%;
}
.news-programmes-container .courses-div .news-div .background-color-news-container {
  background-color: #f3f3f3;
  padding: 20px 15px;
  box-shadow: 10px 9px 10px #9a98985e;
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news {
  padding: 20px 0;
  position: relative;
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news > .news-btn {
  float: right;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  color: #021a4f;
  background: none;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.35px;
  border: none;
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news > .news-btn:hover {
  color: #a7b0c2;
}
@media (max-width: 991.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news > .news-btn {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news > .news-btn {
    font-size: 18px;
  }
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news .news-date {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #021a4f;
}
@media (max-width: 991.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news .news-date {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news .news-date {
    font-size: 18px;
  }
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news .news-title {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #021a4f;
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news .news-title:hover {
  color: #a7b0c2;
}
@media (max-width: 991.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news .news-title {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news .news-title {
    font-size: 22px;
  }
}
.news-programmes-container .courses-div .news-div .background-color-news-container .news .news-content {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #4a4a4a;
}
@media (max-width: 991.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news .news-content {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .news-programmes-container .courses-div .news-div .background-color-news-container .news .news-content {
    font-size: 22px;
  }
}

.blurb-news .title-style {
  font-family: OpenSans;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: #021a4f;
  display: inline-block;
}
.blurb-news .title-style:after {
  content: "";
  border-bottom: 1px solid #271a4f;
  width: 100%;
  display: block;
}
