.section-ticker {
  background-color: #021a4e;
}
@media (max-width: 1199.98px) {
  .section-ticker .div-ticker {
    flex-direction: column;
    display: block;
  }
}
.section-ticker .div-ticker > .ticker-col {
  color: #e4c800;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .section-ticker .div-ticker > .ticker-col {
    margin-bottom: 60px;
  }
}
.section-ticker .div-ticker > .ticker-col > *:not(:last-child) {
  margin-bottom: 25px;
}
.section-ticker .div-ticker > .ticker-col .ticker-header-title {
  display: flex;
  justify-content: center;
}
.section-ticker .div-ticker > .ticker-col .ticker-header-title > h3 {
  font-size: 60px;
  font-weight: 700;
}
.section-ticker .div-ticker > .ticker-col > h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0 47px;
  letter-spacing: 1.48px;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
}
