@import '../../bootstrap-4.5.0/scss/functions.scss';
@import '../../bootstrap-4.5.0/scss/variables.scss';
@import '../../bootstrap-4.5.0/scss/mixins';
@import 'variables.scss';

// primary footer section styles START
.footer-section 
{
    position: relative;
    background-color: #021a4e;
    .footer-row{
        padding: 62px 0 98px 0;
        @include media-breakpoint-down(lg){
            padding: 5rem 0;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .v-line-divider 
        {
            border-left: 1px solid #4d4d4d;
        }
    .footer-subtitles 
    {
        color: $corn;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.93px;
        margin-bottom: 15px;
        @include media-breakpoint-down(lg){
           margin-right: 12px;
        }
    }
    .footer-list 
    {
        list-style: none;
        padding-left: 0;
        > li 
        {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 14px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.82px;
            > span {
                @include media-breakpoint-down(lg){
                    margin: 0;
                }
            }
            > a {
                color: #fff;
            }
            &:hover{
                color: #b6b6b6;
                > a {
                    color: #b6b6b6;
                }
            }
            
        }
    }
    .social-media-icon 
    {
        padding: 4px;
        > i {
            min-width: 1rem;
            font-size: 16px;
            text-align: center;
            
        }
        > a {
            color: #fff;
        }
    }
    .how-to-find-us 
    {
        ul 
        {
            > li 
            {
                line-height: 2.6em;
                color: #fff;
                > span 
                {
                    margin-right: 10px;
                    > i 
                    {
                        min-width: 1rem;
                    }
                }
            }
        } 
    }
    .follow-us {
        @include media-breakpoint-down(lg){
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            margin-bottom: 80px;
        }
        > .follow-us-row {
            margin: 25px 0 40px 0;
            @include media-breakpoint-down(lg){
                justify-content: center;
            }
            .social-media-follow-us {
                > a {
                    color: #fff;
                    &:hover{
                        color: #b6b6b6;
                    }
                }
            }
            &:last-child{
                @include media-breakpoint-down(lg){
                    margin-top: 0;
                }
            }
        }
    }
}
}
// primary footer section styles END

// secondary footer section styles START
.secondary-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #223663;
    color: #fff;
    .row {
        > * {
            font-size: 11px;
            margin: 10px 0;
            line-height: normal;
            letter-spacing: normal;
            font-stretch: normal;
            font-weight: normal;
            font-style: normal;
        }
        > span {
            margin-right: 5px;
        }
    }
}
// secondary footer section styles END