// Fonts
@font-face{
    font-family: OpenSans;
    src: url('../Assets/Fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: TrajanPro;
    src: url('../Assets/Fonts/TrajanPro/TrajanPro-Regular.ttf') format('truetype');
}

// Variables - COLORS
$corn: #e4c800 !default;
$greenVogue: #021a4f !default;
$greenVogueMain: #021a4e !default;
$eventsDescriptionParagraph: #4a4a4a !default;

// Media Breakpoints

$screen-xs-min : 0;
$screen-xs-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

